<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>locations</key>
	<array>
		<dict>
			<key>id</key>
			<string>1275339</string>
			<key>name</key>
			<string>Mumbai</string>
			<key>coord</key>
			<dict>
				<key>lon</key>
				<real>72.847939</real>
				<key>lat</key>
				<real>19.01441</real>
			</dict>
			<key>sys</key>
			<dict>
				<key>country</key>
				<string>IN</string>
			</dict>
			<key>timezone</key>
			<string>Asia/Karachi</string>
		</dict>
		<dict>
			<key>id</key>
			<string>1259229</string>
			<key>name</key>
			<string>Pune</string>
			<key>coord</key>
			<dict>
				<key>lon</key>
				<real>73.85534699999999</real>
				<key>lat</key>
				<real>18.519569</real>
			</dict>
			<key>sys</key>
			<dict>
				<key>country</key>
				<string>IN</string>
			</dict>
			<key>timezone</key>
			<string>Asia/Karachi</string>
		</dict>
		<dict>
			<key>id</key>
			<string>1277333</string>
			<key>name</key>
			<string>Bangalore</string>
			<key>coord</key>
			<dict>
				<key>lon</key>
				<real>77.60328699999999</real>
				<key>lat</key>
				<real>12.97623</real>
			</dict>
			<key>sys</key>
			<dict>
				<key>country</key>
				<string>IN</string>
			</dict>
			<key>timezone</key>
			<string>Asia/Karachi</string>
		</dict>
	</array>
</dict>
</plist>
